* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aa9;
}

div.content {
    margin-left: auto;
    margin-right: auto;
}

canvas {
    border: 1px black solid;
    background-color: #aaa;
    cursor: pointer;
}

.div-oper-buttons {
    float:right;
    margin-right:1em;
}

.mix-button {
    width: 9vw;
    height: 1.8em;
    font-weight: bold;
    font-size: 2em;
    margin-right: 2px;   
    background-color: inherit; 
}

.fwd-button {
    width: 18vw;
    height: 1.8em;
    font-weight: bold;
    font-size: 2em;
    background-color: green;
    margin-right: 2px;
}

div.homepage {
    position: absolute;
    font-size: 4vh;
    left: 1vw;
}

div.homepage a { color: gray;}

#bplay {
    height:6vh;
    width:9vw;
    background-color: inherit;
}



/* ----------- na mobilnych aplikacja nie dziala ---------------------- */
.na-mobilnych {
    display: none;
}

@media (max-width:800px)  {
    #canvas, div {
        display: none;
    }

    .na-mobilnych {
        display: block;
    }

 }
 /* ------------------------------------ */
