body {
    background-color: #aaa;
}

button {
    height: 60%;
    margin-right: 2vw;
}

.center-inside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-options {
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 1px solid black;
    width:40vw;
    background-color: lightgray;
}

#div-options li {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

#div-item-list {
    width: 80%;
    margin: 10px 0;
    border: 2px solid black;    
}

#item-list li {
    display: inline-block;
    width: 25%;
    font-size: 1.5em;
    font-family: sans-serif;
}

input {
    height: 1.5rem;
    width: 1.5rem;    
}

.start-link {
    text-decoration: none;
    color: black;
    background-color: green;
    /* font-weight: bold; */
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px 66px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

a.start-link:hover,
a.start-link:active {
    color: white;
}

div.homepage {
    position: absolute;
    font-size: 2em;
    left: 7px;
    margin-bottom: 2px;
}

div.homepage a {
    color: gray;
}

.div-options [type="checkbox"] {
    vertical-align:middle;
}

.div-options li {
    font-family: sans-serif;
    font-size: 1.1em;
}

h3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2em;
}

@media (max-height:800px)  {
    input {
        height: 1rem;
        width: 1rem;    
    }
    #item-list li {
        font-size: 1em;
    }    
}






